Tl2.2 SOAP_DOTNET_EUREKA_BANK_GR08/02.CLICON/CLICON_EUREKA_GR08/Connected Services/CuentaServicio/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ws_eureka_bank_soap_dotnet.ec.edu.monster.model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ws_eureka_bank_soap_dotnet.ec.edu.monster.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CuentaModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChrClieCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChrCuenClave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChrCuenCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChrEmplCreaCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChrMoneCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChrSucucodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DecCuenSaldo" type="xs:double" />
      <xs:element minOccurs="0" name="DttCuenFechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IntCuenContMov" type="xs:int" />
      <xs:element minOccurs="0" name="VchCuenEstado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaModel" nillable="true" type="tns:CuentaModel" />
</xs:schema>