Tl2.2 SOAP_DOTNET_EUREKA_BANK_GR08/02.CLIESC/CLIESCR_EUREKA_GR08/CLIESCR_EUREKA_GR08/Connected Services/WSMovimientosReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ws_eureka_bank_soap_dotnet.ec.edu.monster.contracts/MovimientoServicio/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ws_eureka_bank_soap_dotnet.ec.edu.monster.model" />
  <xs:element name="Movimientos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numcuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ws_eureka_bank_soap_dotnet.ec.edu.monster.model" minOccurs="0" name="MovimientosResult" nillable="true" type="q1:ArrayOfMovimientoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>