Tl2.2 SOAP_DOTNET_EUREKA_BANK_GR08/02.CLIESC/CLIESC_EUREKA_GR08/Connected Services/WSCuentaReference/CuentaServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CuentaServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ws_eureka_bank_soap_dotnet.ec.edu.monster.contracts/CuentaServicio/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ws_eureka_bank_soap_dotnet.ec.edu.monster.contracts/CuentaServicio/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ws_eureka_bank_soap_dotnet.ec.edu.monster.contracts/CuentaServicio/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ws_eureka_bank_soap_dotnet.ec.edu.monster.model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICuentaServicio_Deposito_InputMessage">
    <wsdl:part name="parameters" element="tns:Deposito" />
  </wsdl:message>
  <wsdl:message name="ICuentaServicio_Deposito_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositoResponse" />
  </wsdl:message>
  <wsdl:message name="ICuentaServicio_ObtenerCuentaPorNumero_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCuentaPorNumero" />
  </wsdl:message>
  <wsdl:message name="ICuentaServicio_ObtenerCuentaPorNumero_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCuentaPorNumeroResponse" />
  </wsdl:message>
  <wsdl:portType name="ICuentaServicio">
    <wsdl:operation name="Deposito">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuentaServicio/Deposito" message="tns:ICuentaServicio_Deposito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuentaServicio/DepositoResponse" message="tns:ICuentaServicio_Deposito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuentaPorNumero">
      <wsdl:input wsaw:Action="http://tempuri.org/ICuentaServicio/ObtenerCuentaPorNumero" message="tns:ICuentaServicio_ObtenerCuentaPorNumero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICuentaServicio/ObtenerCuentaPorNumeroResponse" message="tns:ICuentaServicio_ObtenerCuentaPorNumero_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICuentaServicio" type="tns:ICuentaServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Deposito">
      <soap:operation soapAction="http://tempuri.org/ICuentaServicio/Deposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCuentaPorNumero">
      <soap:operation soapAction="http://tempuri.org/ICuentaServicio/ObtenerCuentaPorNumero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CuentaServicio">
    <wsdl:port name="BasicHttpBinding_ICuentaServicio" binding="tns:BasicHttpBinding_ICuentaServicio">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ws_eureka_bank_soap_dotnet.ec.edu.monster.contracts/CuentaServicio/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>