Tl2.2 SOAP_DOTNET_EUREKA_BANK_GR08/02.CLIESC/CLIESC_EUREKA_GR08/Connected Services/WSCuentaReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ws_eureka_bank_soap_dotnet.ec.edu.monster.contracts/CuentaServicio/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ws_eureka_bank_soap_dotnet.ec.edu.monster.model" />
  <xs:element name="Deposito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cuentaDestino" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepositoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentaPorNumero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentaPorNumeroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ws_eureka_bank_soap_dotnet.ec.edu.monster.model" minOccurs="0" name="ObtenerCuentaPorNumeroResult" nillable="true" type="q1:CuentaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>